.topnav {
    background-color: #232121;
    overflow: hidden;
}


.topnav a {
    float: left;
    color: #d92323;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.topnav a:hover {
    background-color: #0c5f19;
    color: black;
}
